.formulario{
    margin-top:150px;
    margin-bottom:200px;


    #fleyenda{
        background-image: url(/img/BIGSTOCK.jpg);
        background-repeat: no-repeat;

        #T_Formulario{
            color:#FF0000;
            text-align: center;
        }
        #leyendaContacto{
            text-align: center;
        }
    }


} 