$c_yellow:rgb(131, 40, 116);
$c_red:rgb(0, 60, 255);
$c_bg_verde:rgb(9, 168, 147);
$fsize_lead:25px;

@mixin margenes($top,$bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.bread{
    @include margenes(50px,0px);
  }

.jumbotron{
    margin:0px;
    padding: 0%;
    background-color:$c_red;
 
    #p_title{
        color: $c_yellow;
        margin-left: auto;
        margin-right: auto;
    }

    .lead{
       color: $c_yellow;
       font-size:$fsize_lead;
    }

    .btn{
        width: 100%;
        margin-bottom: 0em;
        margin-top: 0em; 
    }

    #botonera{
        margin:0px;
        padding: 0%;
        background-color:$c_bg_verde;
        color: $c_yellow;
    }
    
    #title_list{
        padding-left:40%; color: $c_yellow;
    }

    #l_hoteles{
        background-color:#9fafae;
        color: black;
        
        .btn{
            width: 100%;
            @include margenes(0px,0px);
        }
    }

    .card-hotel{
        border-color: $c_yellow;
        flex:1 150px;
        padding: 2px 5px 2px 5px;
        margin-top: 10px;
        @include margenes(10px,0px);
    }
}

footer{
    margin: 0;
    padding: 10px 10px 0 10px;
    background-color:$c_red;
    margin-bottom: 0px;
    color:white;

    
    footer a{
        text-decoration: none;
        color:white
    }
}


