#tarjetas{
    margin-top:40px;
    padding: 0;
    background-image: url(/img/tarjetas.jpg);
    background-repeat: no-repeat;
    height:700px;

    #cardAcept{
        margin-top: 130px;
        font-size: 25px;
        
        #icocard{
            color: rgb(252, 255, 80);
            font-size: 30px;
        }
        
        .iconcard{
            margin-left: 1px;
        }
    }
}