.bread {
  margin-top: 50px;
  margin-bottom: 0px;
}
.jumbotron {
  margin: 0px;
  padding: 0%;
  background-color: #ff0000;
}
.jumbotron #p_title {
  color: #e5ff70;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron .lead {
  color: #e5ff70;
  font-size: 25px;
}
.jumbotron .btn {
  width: 100%;
  margin-bottom: 0em;
  margin-top: 0em;
}
.jumbotron #botonera {
  margin: 0px;
  padding: 0%;
  background-color: #09a893;
  color: #e5ff70;
}
.jumbotron #title_list {
  padding-left: 40%;
  color: #e5ff70;
}
.jumbotron #l_hoteles {
  background-color: #9fafae;
  color: black;
}
.jumbotron #l_hoteles .btn {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.jumbotron .card-hotel {
  border-color: #e5ff70;
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer {
  margin: 0;
  padding: 10px 10px 0 10px;
  background-color: #ff0000;
  margin-bottom: 0px;
  color: #e5ff70;
}
footer footer a {
  text-decoration: none;
  color: #e5ff70;
}
