@import url(_precios.css);
.bread {
  margin-top: 50px;
  margin-bottom: 0px; }

.jumbotron {
  margin: 0px;
  padding: 0%;
  background-color: #003cff; }
  .jumbotron #p_title {
    color: #832874;
    margin-left: auto;
    margin-right: auto; }
  .jumbotron .lead {
    color: #832874;
    font-size: 25px; }
  .jumbotron .btn {
    width: 100%;
    margin-bottom: 0em;
    margin-top: 0em; }
  .jumbotron #botonera {
    margin: 0px;
    padding: 0%;
    background-color: #09a893;
    color: #832874; }
  .jumbotron #title_list {
    padding-left: 40%;
    color: #832874; }
  .jumbotron #l_hoteles {
    background-color: #9fafae;
    color: black; }
    .jumbotron #l_hoteles .btn {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .jumbotron .card-hotel {
    border-color: #832874;
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px; }

footer {
  margin: 0;
  padding: 10px 10px 0 10px;
  background-color: #003cff;
  margin-bottom: 0px;
  color: white; }
  footer footer a {
    text-decoration: none;
    color: white; }

.formulario {
  margin-top: 150px;
  margin-bottom: 200px; }
  .formulario #fleyenda {
    background-image: url(/img/BIGSTOCK.jpg);
    background-repeat: no-repeat; }
    .formulario #fleyenda #T_Formulario {
      color: #FF0000;
      text-align: center; }
    .formulario #fleyenda #leyendaContacto {
      text-align: center; }
