//COLORES Y VARIABLES
@c_yellow:rgb(229, 255, 112);
@c_red:rgb(255, 0, 0);
@c_bg_verde:rgb(9, 168, 147);
@fsize_lead:25px;

//MIXIN CON LESS
.margenes(@top:0px,@bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
  }
  
  .bread{
      .margenes(50px,0px);
    }
  
  .jumbotron{
      margin:0px;
      padding: 0%;
      background-color:@c_red;
   
      #p_title{
          color: @c_yellow;
          margin-left: auto;
          margin-right: auto;
      }
  
      .lead{
         color: @c_yellow;
         font-size:@fsize_lead;
      }
  
      .btn{
          width: 100%;
          margin-bottom: 0em;
          margin-top: 0em; 
      }
  
      #botonera{
          margin:0px;
          padding: 0%;
          background-color:@c_bg_verde;
          color: @c_yellow;
      }
      
      #title_list{
          padding-left:40%; color: @c_yellow;
      }
  
      #l_hoteles{
          background-color:#9fafae;
          color: black;
          
          .btn{
              width: 100%;
              .margenes(0px,0px);
          }
      }
  
      .card-hotel{
          border-color: @c_yellow;
          flex:1 150px;
          padding: 2px 5px 2px 5px;
          margin-top: 10px;
          .margenes(10px,0px);
      }
  }
  
  footer{
      margin: 0;
      padding: 10px 10px 0 10px;
      background-color:@c_red;
      margin-bottom: 0px;
      color:@c_yellow;
  
      
      footer a{
          text-decoration: none;
          color:@c_yellow;
      }
  }
  
  
  